/* ===== Scrollbar CSS ===== */

*::-webkit-scrollbar {
  width: 12px;
  
}

*::-webkit-scrollbar-track {
  background: #f1e9e9;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #832525;
  border-radius: 10px;
  border: 2px solid #ffffff;
}

.modo-escuro *::-webkit-scrollbar-thumb {
  background-color: #252E83;
}