body {
	font-family: 'Poppins', sans-serif;
	max-width: 1280px;
	margin: 0 auto;
	background-image: linear-gradient(to bottom, #B11818, #000 );
	background: -webkit-gradient(linear, left top, left bottom, from(#B11818), to(#000)) fixed;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 25px;
}

header h1 {
	color: #310606;
}

header .logo,
header .imagem-botao {
	width: 30px;
	transition: 0.3s ease-in-out;
}

header #botao-alterar-tema {
	background: none;
	border: none;
}

header .logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover {
	transform: scale(1.05);
	cursor: pointer;
}

main {
	padding: 25px;
}

/* Cartão Pokémon */
.listagem-pokemon {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}

.cartao-pokemon {
	background: #E06F1D;
	border: 2px solid #44230B;
	color: #5A2F0F;
	width: 200px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	border-radius: 15px;
	box-shadow: 4px 4px 5px rgb(0, 0, 0, .25);
	transition: 0.2s ease-in-out;
	position: relative;
}

.cartao-pokemon::after {
	content: url('../imagens/pokebola.png');
	display: block;
	position: absolute;
	top: 265px;
	left: 165px;
}

.cartao-pokemon:hover {
	background: #E0B51D;
	border: 2px solid #310606;
}

.cartao-pokemon .informacoes {
	display: flex;
	justify-content: space-between;
	background: #EEB359;
	border: 1px solid #5A2F0F;
	border-radius: 10px;
}

.informacoes span {
	padding: 5px;
	text-transform: uppercase;
	font-size: 17px;
}

.cartao-pokemon .gif {
	width: 60px;
	height: 60px;
}

.cartao-pokemon .tipos {
	display: flex;
	gap: 15px;
}

.cartao-pokemon .tipo {
	padding: 8px;
	border-radius: 10px;
}

/* Tipos do Pokémon */
.grama {
	background: #7ac74c;
	color: #274316;
	border: 1px solid #274316;
}

.veneno {
	background: #FF87DD;
	color: #952475;
	border: 1px solid #952475;
}

.fogo {
	background: #ee8130;
	color: #9A4608;
	border: 1px solid #9A4608;
}

.voador {
  background: #B2D7D1;
	color: #2F6C62;
	border: 1px solid #2F6C62;
}

.agua {
	background: #6390f0;
	color: #1D3E86;
	border: 1px solid #1D3E86;
}

.inseto {
	background: #a6b91a;
	color: #495205;
	border: 1px solid #495205;
}

.normal {
	background: #9f9f9f;
	color: #333;
	border: 1px solid #333;
}

/* Descrição do Pokémon */
.descricao {
	max-height: 80px;
	overflow-y: scroll;
	font-size: 14px;
	padding-right: 10px;
}

/* Modo Escuro */
body.modo-escuro {
	background-image: linear-gradient(to bottom, #1830B1, #000 );
	background: -webkit-gradient(linear, left top, left bottom, from(#1830B1), to(#000)) fixed;
}

.modo-escuro header h1 {
	color: #0E013F;
}

.modo-escuro .cartao-pokemon {
	background: #1DBDE0;
	border: 2px solid #033743;
	color: #014857;
}

.modo-escuro .cartao-pokemon:hover {
	background: #1DE09A;
	border: 2px solid #064A3E;
}

.modo-escuro .informacoes {
	background: #7AE4FB;
	border: 1px solid #033743;
}